<!-- success.tpl -->
<div class="row">
    <div class="col-md-12 col-sm-12 mb20">
        <p class="profile-subheadline">
            <i class="fa fa-check mr10" aria-hidden="true"></i>{$msg}
        </p>
    </div>
</div>