<link rel="stylesheet" href="/_tpl/dds/1.5/css/reset.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />

<div class="row board ml0 pl0">
<div class="notification is-info">
  <button class="delete"></button>
	Credit / Debit Card was Charged
</div>

</div>