
<div class="row board">
  <h2>{$translations.dashboard_recruiter.deactivate_headline}</h2>
  <p>{$translations.dashboard_recruiter.deactivate_note}</p>
</div>

<div class="col-md-12 col-xs-12 mlpl0 mb40">
	<div class="row activity p25">
	  <h3>{$translations.dashboard_recruiter.deactivate_confirmation}</h3>
	  <br />

	  <div class="button-holder">
	  	  	<a href="/{$URL_DASHBOARD_DEACTIVATE_ACCOUNT}/{$ID}"><button type="submit" class="btn btn-green" name="submit_delete" id="submit_delete" >Deactivate</button></a>

			<a href="/{$URL_DASHBOARD}"><button class="btn btn-gray sec-btn" name="submit_cancel" id="submit_cancel">{$translations.dashboard_recruiter.cancel}</button></a>
	  </div>

	</div>	
</div>