<!-- success.tpl -->
<div class="col-md-12 col-xs-12" >
	<div class="row board">
	  <h2>{$translations.dashboard_recruiter.success_tpl_headline_generic}</h2>
	  <br /><br />
	</div>
</div>

<div class="col-md-6 col-xs-12 mlpl0">
	<div class="action-req success-msg dash-succ-box">

			<div class="row caution succ-box">
				<div class="col-md-12 col-xs-12">
					<div class="row">
						<div class="col-md-1 col-xs-12 mtm8">
							<i class="fa fa-check" aria-hidden="true"></i>
						</div>
						<div class="col-md-11 col-xs-12">
							<p><span>{$msg}<span></p>
						</div>
					</div>
				</div>
			</div>

	</div>
</div>