{include file="header.tpl"} 

<div class="admin-content">
	<div class="admin-wrap-content" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb15">
			<label class="admin-label">
				Jobbaord Customizer
			</label>
			<div class="subheading">Fast & easy way to customize your project.</div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}customize-homepage" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}customize-homepage">Homepage</a></label>
			</div>

		    <div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}customize-jobs" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}customize-jobs">Job listing</a></label>
			</div>
 
			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}customize-css" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}customize-css">Add Custom CSS</a></label>
			</div> 

		</div>
</div>
</div>

{include file="footer.tpl"}