{include file="header.tpl"}
		<!-- /sjs-admin/_tpl/index.tpl -->
		<div id="content">
			<div id="job-listings">
				<h2 id="inactive">Currently inactive jobs</h2>
				{include file="posts-loop.tpl"}
			</div><!-- #job-listings -->
		</div><!-- #content -->

{include file="footer.tpl"}