{include file="header.tpl"} 

<div class="admin-content">
	<div class="admin-wrap-content" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb15">
			<label class="admin-label">
				Website SEO
			</label>
			<div class="subheading">management</div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}seo/1" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}seo/1">Homepage</a></label>
				<div class="light">Website titles, keywords and descriptions. 404- pages</div>
			</div>

		    <div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}seo/2" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}seo/2">Jobs</a></label>
				<div class="light">Job related SEO</div>
			</div>

			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}seo/3" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}seo/3">Applicant</a></label>
				<div class="light">Candidate dashboard. Login pages</div>
			</div>

			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}seo/4" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}seo/4">Recruiter</a></label>
				<div class="light">Login and registration pages</div>
			</div>


			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}seo/5" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}seo/5">Companies</a></label>
				<div class="light">Jobs at company. Companies listing</div>
			</div>


			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}seo/6" title="Change password"><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}seo/6">Google Analytics</a></label>
				<div class="light">Manage Google Analytics</div>
			</div>

			<div class="settings-row">
				<a class="right blue" href="{$BASE_URL_ADMIN}seo/7" ><i class="fa fa-gear blueColor mr5" aria-hidden="true"></i></a>
				<label class="settings"><a class="blue-font" href="{$BASE_URL_ADMIN}seo/7">Google Maps</a></label>
				<div class="light">Manage Google Maps</div>
			</div>
		</div>
</div>
</div>

{include file="footer.tpl"}